# ipywidgets

## 1. Introduction

Widgets are eventful python objects that have a representation in the browser, often as a control like a slider, textbox, etc.

https://towardsdatascience.com/bring-your-jupyter-notebook-to-life-with-interactive-widgets-bc12e03f0916

### 1.1 Import Libraries

In [1]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from IPython.display import display

In [2]:
import pandas as pd
import numpy as np
df_london = pd.read_csv("international-visitors-london-raw.csv", encoding = "ISO-8859-1")

In [3]:
display(df_london.head())

,year,quarter,market,dur_stay,mode,purpose,area,Visits (000s),Spend (£m),Nights (000s),sample
0,2002,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,3.572186,0.969138,6.954456,5
1,2002,January-March,Belgium,1-3 nights,Air,Business,LONDON,9.284226,2.399577,12.604959,19
2,2002,January-March,Belgium,1-3 nights,Air,VFR,LONDON,0.877182,0.089833,2.153128,3
3,2002,January-March,Belgium,1-3 nights,Air,Miscellaneous,LONDON,0.163874,0.010160,0.163874,1
4,2002,January-March,Belgium,1-3 nights,Sea,Business,LONDON,1.648670,0.016789,1.650300,1

In [4]:
ALL = 'ALL'

def unique_sorted_values_append_ALL(array):
    unique = array.unique().tolist()
    unique.sort()  
    unique.insert(0, ALL)
    return unique

In [22]:
output = widgets.Output()

dropdown_year = widgets.Dropdown(options = unique_sorted_values_append_ALL(df_london.year))
dropdown_purpose = widgets.Dropdown(options = unique_sorted_values_append_ALL(df_london.purpose))

def common_filtering(year, purpose):
    output.clear_output()
    
    if (year == ALL) & (purpose == ALL):
        common_filter = df_london
    elif (year == ALL):
        common_filter = df_london[df_london.purpose == purpose]
    elif (purpose == ALL):
        common_filter = df_london[df_london.year == year]
    else:
        common_filter = df_london[(df_london.year == year) & (df_london.purpose == purpose)]
        
    with output:
        display(common_filter)

def dropdown_year_eventhandler(change):
    common_filtering(change.new, dropdown_purpose.value)
            
def dropdown_purpose_eventhandler(change):
    common_filtering(dropdown_year.value, change.new)

dropdown_year.observe(dropdown_year_eventhandler, names ='value')
dropdown_purpose.observe(dropdown_purpose_eventhandler, names = 'value')

display(dropdown_year)
display(dropdown_purpose)

Dropdown(options=('ALL', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012…

Dropdown(options=('ALL', 'Business', 'Holiday', 'Miscellaneous', 'Study', 'VFR'), value='ALL')

In [23]:
display(output)

Output()